@model Railway.Web.Models.SelectCar.SelectCarViewModel

@{
    ViewBag.Title = "SelectCar";
}

<ol class="breadcrumb">
    <li>Route</li>
    <li>Train</li>
    <li class="active">Car</li>
    <li>Passengers</li>
</ol>

<h2>Information about cars</h2>

<div>Passenger's route: @Model.StartStationName - @Model.DestinationStationName</div>
<div>Train: @Model.TrainNumber</div>

<div>
    @foreach (var carType in Model.CarTypes)
    {
        <div class="col-sm-2">
            <div>@carType.CarTypeName</div>
            <div>@carType.Cost</div>
        </div>
        <div class="col-sm-10">
            <table class="table table-bordered">
                <tr>
                    <th>#</th>
                    <th>count of free seats</th>
                    <th>available numbers of seats</th>
                </tr>

                @foreach (var car in carType.Cars)
                {
                    <tr>
                        <td>@car.Index</td>
                        <td>@car.SeatCount</td>
                        <td>
                            @foreach (var seatIndex in car.SeatIndexes)
                            {
                                <span>@seatIndex</span>
                            }
                        </td>
                    </tr>
                }
            </table>
        </div>
    }
</div>

<button class="btn btn-default">To the beginning</button>
<button class="btn btn-primary">Continue</button>